.ul1 {
    list-style-type: none;
    overflow: hidden;
    background-color: #333333;
}
.li1 {
    float: left; /* 가로로 정렬 할 수 있음. */
}
.li1 a {
    display: block;
    color:white;
    text-align: center; 
    padding: 16px;
    text-decoration: none; /*밑줄의 색*/
}
.li1 a:hover{
    background-color: #111111;
}

