.head {
  width: 100%;
  border: 1px solid black;
  margin-bottom: 2px;
  text-align: center;
}
.nav {
  width: 100%;
  border: 1px solid black;
  margin-bottom: 5px;
  text-align: center;
}
.box {
  float: left;
  width: 49%;
  margin-bottom: 2px;
  margin-right: 0%;

}
.section {
  display: block;
  border: 1px solid black;
  margin-top: 5px;
  margin-bottom: 20px;
  text-align: center;
}
.art {
  display: block;
  border: 1px solid black;
  margin-bottom: 0px;
  text-align: center;
}
.aside {
  width: 49%;
  float: left;
  border: 1px solid black;
  margin-bottom: 2px;
  margin-left: 1%;
  text-align: center;
}
.footer {
  width: 100%;
  float: left;
  border: 1px solid black;
  margin-bottom: 2px;
  text-align: center;
}