div {
  border: 1px solid black;
  background-color: black;
  text-align: center;
  color: white;
}
span {
  color: red;
  text-decoration-line: underline;
  text-decoration-color: red;
}

.header1 {
  border: 1px solid black;
  color: blue;
}

.header2 {
  background-color: rgb(29, 223, 149);
  text-align: center;
}

#header3 {
  width: 50%;
  height: 50%;
  text-transform: uppercase;
  border: 1px solid black;
}