.background1 {
  background-color: blue;
  padding-bottom: 10px;
  padding-left: 10px;
}
.background2 {
  background-color: lime;
  
}
.border1 {
  border: 1px solid black;
  border-collapse: collapse;
}

th, td {
  border: 1px solid black;
  padding: 2px;
  
}

#div1 {
  width: 50%;
  height: 50%;
}