h1 {
    text-align: center;
    color: white;
    background-color: yellowgreen;
    padding: 0px;
    margin: 0px;
}

.mainline {
    list-style-type: none;
    overflow: hidden;
    background-color: yellowgreen;
}
.button{
    float:left;
}
.button a{
    padding: 16px;
    text-align: left;
    display: block;
    text-decoration: none;
}

.a:hover{
    background-color: #9aaa00;
}

.mainline1{
    list-style-type: none;
    
}
.a1 {
    display: block;
    font-size: 20px;
    block-size: 50px;
    text-align: center;
    text-decoration: none;
}
.button1 {
    background-color: brown;
    width: 5%;
    float: inline-start;
    text-align: center;

}
.a1:hover{
    background-color: lightcoral;
    
}