
p {
  color: #ff0000;
}

#pfirst {
  color: #ffff00;
}

.pclass {
  color: #00ff00;
}

.pleft {
  text-align: left;
}

.pcenter {
  text-align: center;
}

.pright {
  text-align: right;
}

table {
  text-align: center;
  width: 100%;
  border-top: 1px solid #444444;
  border-collapse: collapse;
}

th,
td {
  border: 1px solid #444444;
  padding: 10px;
}