.big {
  background-color: lightgray;
  margin: 0;
  padding: 15px;
  width: 50%;
  margin-bottom: 5px;
}
.content {
  background-color: white;
}
.table_ {
  text-align: left;
  border: 1px solid lightgray;
  border-collapse: collapse;
  width: 100%;
  border-spacing: 0;
  padding: 8px 8px;
}
tr {
  border: 1px solid lightgray;
  
}
tr:nth-child(even){
  background-color: lightgray;
}
th {
  padding: 8px 8px;
}
td {
  padding: 8px 8px;
}